@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0px;
}

::-moz-selection {
	color: orange;
	background-color: #000000dd;
	-webkit-backdrop-filter: blur(100em);
	backdrop-filter: blur(100em);
}

::selection {
	color: orange;
	background-color: #000000dd;
	-webkit-backdrop-filter: blur(100em);
	backdrop-filter: blur(100em);
}

body {
	display: flex;
	flex-direction: column;
	height: 100dvh;
	background-image: url('./lib/images/background.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: white;
	font-size: 1rem;
}

.underline-animate {
	position: relative;
}

.underline-animate:after {
	content: '';
	position: absolute;
	left: 15%;
	bottom: 0.5em;
	height: 0.2em;
	width: 0%;
	transition: width 0.2s ease;
	background-color: orange;
}

.underline-animate:hover:after {
	width: 70%;
}

.markdown h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}

.markdown ul,
.markdown ol {
	margin-left: 1rem;
}

.markdown ul {
	list-style: disc;
}

.markdown ol {
	list-style-type: number;
}

.markdown tr {
	position: relative;
	-webkit-backdrop-filter: blur(4em);
	backdrop-filter: blur(4em);
}

.markdown td {
	padding: 0.4em 1em;
}

.markdown tr::after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	-webkit-backdrop-filter: blur(4em);
	backdrop-filter: blur(4em);
	opacity: 0.6;
	z-index: -1;
}

.markdown tr:has(th)::after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	-webkit-backdrop-filter: blur(4em);
	backdrop-filter: blur(4em);
	opacity: 0.9;
	z-index: -1;
	background-color: black;
}

.markdown th {
	padding: 0.8em 0.5em;
}

.markdown tr:has(td):nth-child(2n - 1):after {
	background-color: black;
	opacity: 0.1;
}

.markdown tr:nth-child(2n)::after {
	background-color: black;
}

.markdown p code {
	position: relative;
	padding: 0.2em 0.5em;
}

.markdown p code::after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	-webkit-backdrop-filter: blur(4em);
	backdrop-filter: blur(4em);
	opacity: 0.5;
	z-index: -1;
	background-color: red;
	border-radius: 0.3em;
}

.markdown pre {
	padding: 1em 1em;
	overflow: auto;
	background-color: #000000d6;
	-webkit-backdrop-filter: blur(4em);
	backdrop-filter: blur(4em);
}

.button-primary,
.button-tertiary,
.button-disabled,
.button-secondary {
	padding: 0.4em 0.7em;
	border-radius: 0.3em;
	font-weight: 700;
	text-wrap: nowrap;
}

.button-primary:hover,
.button-tertiary:hover,
.button-secondary:hover {
	background-color: orange;
}

.button-primary {
	background-color: rgb(250 0 48);
}

.button-secondary {
	background-color: rgb(220, 38, 38);
}

.button-tertiary {
	background-color: #d95611;
}

.button-disabled {
	/* -webkit-backdrop-filter: blur(100em); */
	/* backdrop-filter: blur(100em); */
	background-color: black;
	cursor: not-allowed;
	text-decoration: line-through;
	color: #656565;
}

.button-special {
	-webkit-backdrop-filter: blur(3em);
	backdrop-filter: blur(3em);
	background-color: #ffffff0f;
	padding: 1em 1em;
	border-radius: 0.4em;
	font-weight: 700;
	font-style: italic;
	text-wrap: nowrap;
	color: white;
}

.button-special:hover {
	background-color: #ffffff0f;
	outline: 1px solid white;
	color: white;
}

.link {}

.link:hover {
	color: orange;
}

a:hover {
	cursor: pointer;
}

.rotate {
	animation-name: rotate360;
	animation-duration: 9s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes rotate360 {
	from {
		rotate: 0deg;
	}

	to {
		rotate: 360deg;
	}
}

.glass {
	-webkit-backdrop-filter: blur(2em);
	backdrop-filter: blur(2em);
	padding: 1em 1em;
	border-radius: 1em;
	box-shadow: 0.2em 0.2em 0.4em 0em #000000df;
	border: 1px solid #b5b5b517;
}
